# Dependencies
node_modules/

# Build
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.parcel-cache/
